body {
  background-color: rgb(55, 110, 241); /* Couleur de fond de la page par défaut */
}

.commentaire {
  word-break: break-word;
}

body.compte {
  background-color: #ffffff; /* Couleur de fond de la page compte.php */
}

.social-icons {
  display: flex;
  justify-content: left;
}

.social-icons a img {
  width: 50px; /* Changer la largeur selon vos besoins */
  height: auto; /* Laisser la hauteur ajustable en fonction de la largeur */
}

.info-container {
  margin-top: 40px;
}

.connexion-image {
  width: 50px; /* Largeur souhaitée */
  height: auto; /* Hauteur automatique pour conserver les proportions */
}

.description-cell,
.description-cell2 {
  max-width: 150px; /* Définir la largeur maximale selon vos besoins */
  word-wrap: break-word; /* Activer le retour à la ligne automatique */
}

.container {
  flex-direction: row;
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espace entre les colonnes */
}

.container2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.column.left {
  margin-right: 20px;
}

.column,
.column2 {
  flex: 1; /* Les colonnes prennent autant d'espace que nécessaire */
}

.column2 {
  width: 97%;
}

.form-container,
.form-container2 {
  margin: 20px 0; /* Espace entre le formulaire et les avis */
}

.connexion-button {
  display: inline-block;
  text-decoration: none; /* Supprime le soulignement du lien */
  color: #fff; /* Couleur du texte */
}

.connexion-button:hover {
  color: #fff; /* Couleur du texte au survol */
  text-decoration: none; /* Supprime le soulignement du lien au survol */
}

.connexion-image,
.connexion-text {
  vertical-align: middle; /* Alignement vertical */
  margin-right: 10px; /* Marge à droite pour séparer l'image du texte */
}

.modal-content {
  background-color: rgb(55, 110, 241);
}

.card {
  background-color: rgb(255, 255, 255);
}

#background2 {
  background-color: rgb(82, 169, 77);
  border-radius: 20px;
}

.carousel-inner {
  border-radius: 20px;
}

.custom-form {
  margin-left: 25px;
  margin-right: 25px;
}

.hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .column {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.text-center,
.text-center2 {
  text-align: center;
  margin: auto; /* Pour centrer verticalement si nécessaire */
}

.text-center2 {
  font-weight: bold; /* Pour ajouter le style en gras */
}

.custom-container {
  max-width: auto; /* Définissez la largeur maximale selon vos besoins */
  margin: 0 auto; /* Centre le conteneur horizontalement */
  /* Ajoutez d'autres styles personnalisés au besoin */
}

.custom-carousel {
  max-width: 1300px; /* Changer cette valeur selon votre besoin */
  margin: auto; /* Pour centrer le carousel */
}

.rounded-image,
.rounded-image-gestion {
  border-radius: 10px; /* Adjust the value to change the degree of rounding */
}

.animal-button {
  background-size: cover;
  background-position: center;
}

.table-container {
  overflow-x: auto;
  white-space: nowrap;
  width: 100%; /* Vous pouvez ajuster cette valeur en fonction de vos besoins */
}

.custom-width {
  max-width: 200px; /* Changer la valeur selon vos besoins */
  width: auto; /* Pour permettre au bouton de s'adapter au contenu */
}

.shadow {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); /* Réduire la transparence à 0.3 pour un effet plus léger */
}
