body {
    background-color: #5cc251; /* Couleur de fond de la page par défaut */
}

.commentaire {
  word-break: break-word;
}

body.compte {
    background-color: #ffffff; /* Couleur de fond de la page compte.php */
}

.social-icons {
    display: flex;
    justify-content: left;
  }
  
  .social-icons a img {
    width: 50px; /* Changer la largeur selon vos besoins */
    height: auto; /* Laisser la hauteur ajustable en fonction de la largeur */
  }
  
  .info-container{
    margin-top: 40px;
  }

  .connexion-image {
    width: 50px; /* Largeur souhaitée */
    height: auto; /* Hauteur automatique pour conserver les proportions */
    }

  .description-cell {
    max-width: 100px; /* Définir la largeur maximale selon vos besoins */
    word-wrap: break-word; /* Activer le retour à la ligne automatique */
  }

  .description-cell2 {
    max-width: 250px; /* Définir la largeur maximale selon vos besoins */
    word-wrap: break-word; /* Activer le retour à la ligne automatique */
  }
  
  .container {
    flex-direction: row;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espace entre les colonnes */
  }

  .container2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
  
  .column.left {
    margin-right: 20px;
  }

  .column {
    flex: 1; /* Les colonnes prennent autant d'espace que nécessaire */
  }

  .column2 {
    width: 97%;
  }
  
  .form-container {
    margin-bottom: 20px; /* Espace entre le formulaire et les avis */
  }

  .form-container2 {
    margin-top: 20px;
}

  .connexion-button {
    display: inline-block;
    text-decoration: none; /* Supprime le soulignement du lien */
    color: #fff; /* Couleur du texte */
}

.connexion-button:hover {
    color: #fff; /* Couleur du texte au survol */
    text-decoration: none; /* Supprime le soulignement du lien au survol */
}

.connexion-image {
    vertical-align: middle; /* Alignement vertical */
    margin-right: 10px; /* Marge à droite pour séparer l'image du texte */
}

.connexion-text {
    vertical-align: middle; /* Alignement vertical */
    display: inline-block;
    margin-right: 10px; /* Marge à droite pour séparer l'image du texte */
}

.modal-content {
    background-color: rgb(121, 161, 255);
}

.card{
  background-color: rgb(121, 161, 255);
}

#background2{
  background-color: rgb(255, 159, 95);
  border-radius: 20px;
}

.carousel-inner{
  border-radius: 20px;
}

.custom-form {
  margin-left: 25px;
  margin-right: 25px;
}

.hidden {
  display: none;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .column {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
}
  
.text-center {
  text-align: center;
  margin: auto; /* Pour centrer verticalement si nécessaire */
}

.custom-container {
  max-width: 450px; /* Définissez la largeur maximale selon vos besoins */
  margin: 0 auto; /* Centre le conteneur horizontalement */
  /* Ajoutez d'autres styles personnalisés au besoin */
}

.custom-carousel {
  max-width: 1000px; /* Changer cette valeur selon votre besoin */
  margin: auto; /* Pour centrer le carousel */
}